<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with(model: item) do |form| %>
        <% if item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
              <% item.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="md-6 pb-3">
          <%= form.text_field :name, class: "form-control", placeholder: :name %>
        </div>

        <div class="md-6 pb-3">
          <%= form.text_field :price, class: "form-control", placeholder: :price %>
        </div>

        <div class="md-6 pb-3">
          <%= form.text_area :description, class: "form-control", placeholder: :description %>
        </div>

        <div class="md-6 pb-3">
          <%= form.text_field :image_url, class: "form-control", placeholder: :image_url %>
        </div>

        <div class="actions pt-3 pb-3">
          <%= form.submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>
